<div class="container-fluid bg-dark">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>
</div>
 
 
 <div>
 
<br>
  <a routerLink="/about-us">About Us</a>
  <a routerLink="/how-it-works">How It works</a>
  <a routerLink="/auth/login" [queryParams]="{name: 'mahesh', email: email}">Login</a>
  <a routerLink="/public/all-books">All Books</a>
  <a [routerLink]="['/public/book-details/', '33', 'author', '100']">Details from app</a>
 </div>

<router-outlet></router-outlet>
 